// Variables

// Colors
$dark-brown: #292021;
$light-brown-hover: #886750;
$white: #ffff;
$light-gray: #ededed;
$placeholder-search: #494b46;
$beige: #c9c0bb;

// Fonts
$khula: 'Khula', sans-serif;
$bebas-neue:  'Bebas Neue', cursive;

//tipografias
h1,h2,h3,h4{
  color: $dark-brown;
  font-family: $bebas-neue;
}
p{
  font-size: 18px;
  color: $dark-brown;
  font-family: $khula
}
li lists{
  font-size: 16px;
  color: $dark-brown;
  font-family: $khula
}
a{
  color: $dark-brown;
  font-family: $khula;
  font-weight: bold;
}

// configure
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



