.main-container{
  display: none;
}
@media(max-width: 500px){
  .main-container{
    display: block;
  }
  .btn-item{
    background:#292021;
    color: white;
    display: block;
    font-size: 18px;
    padding: 10px;
  }
  .btn-item.active{
    background: #886750;
    font-size: 18px;
  }
  .btn-item:after{
    content: "\002b";
    float: right;
  }
  .btn-item.active:after{
    content: "\02212";
  }

  .item-content{
    background:white;
    color: #292021;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .item-content h2{
    font-size: 30px;
  }
  .item-content ul{
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .active + .item-content{
    max-height: 1000px;
    padding: 8px;
    opacity: 1;
  }

  .item-content span{
    font-weight: bold;
  }

  .gallery {
    float: left;
    margin-bottom: 50px;
    margin-left: 30px;
    width: 390px;
  }
  .accordion__info--addCard{
    margin-left: 70px;
    text-align: center;
    width: 296px;
  }
  *{
    margin: 0;
  }
  body{
    font-family: sans-serif;
  }
  .main-container{
    margin:0 auto;
    padding:8px;
    width: 450px;
  }

  .container-carrusel{
    display: none;
  }
}
