.buttons{
  margin: 0 auto;
  margin-top: 100px;
  width: 1080px;
  height: 200px;
}
.viewMore {
  background-color: #292021;
  border: none;
  border-radius: 102px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;

  &:hover {
    background-color: #886750;
    color: white;
  }

}

.viewOffer {
  background-color: #C9C0BB;
  border: none;
  border-radius: 102px;
  color: #292021;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;

  &:hover {
    background-color: #886750;
    color: white;

  }

}
