#contentShoppingCart{
  margin: 0 auto;
  margin-top: 100px;
  width: 1080px;
}
.contentSuculenta{
  border-bottom: 1px solid #857876;
}
.imgShoppingCart{
  float: left;
  margin-left: 147px;
}
.infoShoppingCart{
  padding-top: 100px;
  float: left;
}
.titleShoppingCart{
  float: left;
  font-size: 18px;
  color: #292021;
  padding-top: 100px;
  margin-left: 75px;
}
.amount{
  float: left;
  margin-left: 54px;
  margin-right: 54px;
}
.cost{
  float: left;
  margin-right: 38px;
}
.botonCancel{
  border:1px solid #292021;
  background-color: #292021;
  color: #ffffff;
  border-radius: 30px;
  margin-top: 15px;
  padding: 5px 10px;
}
