#contact{
  background-color: #C9C0BB;
  margin: 0 auto;
  text-align: center;
  width: 1138px;
}
#contact--img{
  background-image: url(../img/img-contacto.png);
  background-size: cover;
  display: block;
  height: 400px;
  width: 1138px;
}
#contact--title{
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  letter-spacing: 3px;
  padding-top: 20px;
  text-transform: uppercase;

}
#contact--info h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 26px;
  letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
}
#contact--info{
  font-family: 'Khula', sans-serif;
  float: left;
  margin-right: 100px;
  margin-left: 130px;
  font-size: 18px;
  padding-top: 30px;
  text-align: left;
  width: 360px;
}
#contact--info span{
  font-weight: bold;
}

/*-----Form-----*/
#form{
  padding-top: 30px;
}
.form__content{
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form__content label {
  color: #292021;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.form__content input{
  border: 1px solid #292021;
  font-size: 18px;
  height: 35px;
  width: 400px;
}
.form__button{
  background-color: #292021;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  margin-bottom: 60px;
  margin-right: 120px;
  margin-top: 20px;
  padding: 15px 30px;
}
.form_button--margin{
  margin-right: 120px;
  margin-bottom: 75px;
}
