// Variables

// Colors
$dark-brown: #292021;
$light-brown-hover: #886750;
$white: #ffff;
$light-gray: #ededed;
$placeholder-search: #494b46;
$beige: #c9c0bb;

// Fonts
$khula: 'Khula', sans-serif;

// configure
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


