#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: rgba(255,255,255,.0);
  display: block;
  left: 0px;
  height: 50px;
  position: fixed;
  user-select: none;
  width: 50px;
  z-index: 1;
}

#drawer-toggle-label:before {
  content: '';
  background: $dark-brown;
  box-shadow: 0 6px 0 $dark-brown, 0 12px 0 $dark-brown;
  display: block;
  height: 2px;
  left: 13px;
  position: absolute;
  top: 18px;
  width: 24px;
}

header {
  background: $white;
  left: 0px;
  line-height: 30px;
  padding: 10px 10px 10px 50px;
  position: fixed;
  width: 100%;
  z-index: 0;
}

#drawer {
  background: $white;
  box-sizing: border-box;
  height: 100%;
  left: -1000px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  transition: .25s ease-in-out;
  top: 0;
  width: 1000px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  -webkit-text-size-adjust: none;
}


#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  left: 13px;
}

#drawer-toggle:checked ~ #drawer {
  left: 0px;
}

#drawer ul {
  list-style-type:none;
}

#drawer ul a {
  color: $light-gray;
  display: block;
  padding: 10px;
  text-decoration:none;
}

#drawer ul a:hover {
  color:$white;
}
