// Index Curiosities

.site-map{
  display: block;
  .site-map--inicio{
    text-decoration: none;
  }
}

.curiosities--h1 {
  font-size: 45px;
  text-align: center;
}

.text {
  width: 600px;
  h2 {
    font-size: 30px;
  }
}
