.tipografias{
  margin-left: 400px;
  padding: 25px 0;
  width: 500px;
}
.title{
  color: $dark-brown;
  font-family: $bebas-neue;
}
.parrafos{
  font-size: 18px;
  color: $dark-brown;
  font-family: $khula
}
.lists{
  font-size: 16px;
  color: $dark-brown;
  font-family: $khula
}
.links{
  color: $dark-brown;
  font-family: $khula;
  font-weight: bold;
}

