.tipografias{
  margin-left: 400px;
  padding: 25px 0;
  width: 500px;
}
.title{
  font-size: 58px;
}
.title--principal{
  font-size: 48px;
}
.title--curiosities{
  font-size: 36px;
}
.title--sitemap{
  font-size: 16px;
}
.parrafos{
  font-size: 18px;
}
